*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
	font-family: "微软雅黑";
	min-width: 1100px;	
}

.major{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	/*border: 1px solid #EE6E03;*/
}

.inner{
	width: 950px;
	height: 650px;
	top: 50%;
	left: 0;
	position: relative;
	margin: 0 auto;
	margin-top: -325px;
	display: flex;
	align-items: center;
	/*border: 1px solid #EE6E03;*/
}

.left{
	width: 550px;
	height: 570px;
	margin: auto;
}

.logo{
	width: 200px;
	height: 200px;
	margin: 20px 0;
	font-size: 70px;
	font-weight: 600;
	color: #fff;
	line-height: 200px;
}

.logo img{
  width: auto;
  height: 100%;
}

.title{
	width: 230px;
	height: 40px;
	font-size: 28px;
	font-weight: 600;
	color: #EE6E03;
	text-align: left;
	line-height: 40px;
}

.title span{
  font-size: 14px;
  color: #ccc;
}

.summary{
	width: 550px;
	color: #666;
	font-size: 16px;
	text-align: left;
	line-height: 37px;
  margin-bottom: 5px;
}

.unkown{
	width: 550px;
	height: 172px;
	text-align: left;
  line-height: 18px;
}
.unkown code{
  border-radius: 3px;
  overflow: hidden;
  font-size: 14px;
  padding-left: 10px;
  background: #f5f5f5;
  color: #555;
}
.hljs-string{
  color: #EE6E03;
}

.right{
	width: 320px;
	height: 650px;
	margin: auto;
	/*border: 1px solid #EE6E03;*/
}

.phone {
  position: relative;
  background: #fff;
  border-radius: 55px;
  box-shadow: 0px 0px 0px 1px #aaa;
  width: 320px;
  height: 630px;
  padding: 1px 5px;
  margin-top: 10px;
  
}

.phone:before {
  content: '';
  width: 60px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  background: #d3d3d3;
  top: 30px;
}

.phone:after {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  left: 50%;
  margin-left: -23px;
  bottom: 12px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 5px solid #bbb;
}

.statusbar {
  position: absolute;
  width: 302px;
  height: 18px;
  background: url(../img/statusBar.png);
  left: 50%;
  margin-left: -151px;
  top: 60px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  display: none;
}

iframe#phone-iframe {
  width: 375px;
  height: 606px;
  display: block;
  margin: 76px 9px;
  background: #fff;
  border: 1px solid #aaa;
  transform-origin: left top;
  transform: scale(0.8, 0.8);
}
iframe[Attributes Style] {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
user agent stylesheet
iframe {
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
}

.forkRibbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
  position: fixed;
}

.forkRibbon:before, .forkRibbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forkRibbon:before {
  content: "";
  padding: .38em 0;
  background-color: #a00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.forkRibbon:after {
  content: attr(title);
  color: #fff;
  font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: .15em 0;
  margin: .15em 0;
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.forkRibbon.forkRibbonColor:before {
  background-color: #EE6E03;
}